@import "../../vars.css";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 2rem 0;
}

.navbar div {
    display: flex;
    align-items: center;
}

.ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.li {
    margin-right: 1rem;
}

.ul>li>a:hover {
    color: var(--color-quaternary);
}

.a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: var(--font-weight-medium);
    margin-right: 2rem;
}

.a a {
    color: var(--color-quaternary);
    margin-right: 0.2rem;
    font-family: 'hack', monospace;
}

.img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .divul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0 0 0;
        margin: 2rem 0 0 0;
    }

    .li {
        text-align: center;
        min-width: 100%;
    }
}