@import "./vars.css"; 
.App {
    font: var(--font-primary);
    color: var(--color-primary);
    width: 100%;
}

@media screen and (max-width: 768px) {
    .App {
        margin-inline: 0;
        width: 100%;
    }
    
}