:root {
    /* Colors */
    --color-primary: #ffffff;
    --color-secondary:#442777 ;
    --color-tertiary: #1f155c;
    --color-quaternary: #a91689;
    --color-quinary: #474462;

    /* Fonts */
    --font-primary: 'Roboto', sans-serif;

    /* Font Sizes */
    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 1.8rem;
    --font-size-xl: 2.0rem;
    --font-size-xxl: 2.2rem;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    background: linear-gradient(to bottom, var(--color-tertiary), var(--color-secondary));
    color: var(--color-primary);
    font-family: var(--font-primary);
}

html{
    scroll-behavior: smooth;
}
